<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildHash</key>
	<string>c0b5081a07641626d905126d1bf189fb086daf024e6ef6728c64f2dbb7622ac0</string>
	<key>CFBundleIdentifier</key>
	<string>com.ninxsoft.mist.helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>0.1.1</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "com.ninxsoft.mist" and info[CFBundleVersion] &gt;= "0.1" and certificate leaf[subject.OU] = "7K3HVCLV7Z"</string>
	</array>
</dict>
</plist>
