<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildHash</key>
	<string>631381272a839c41efa70afa56e8d6e05a0bdbc167d07ecae792ed338ac0a353</string>
	<key>CFBundleIdentifier</key>
	<string>com.ninxsoft.mist.helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleVersion</key>
	<string>0.3</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "com.ninxsoft.mist" and info[CFBundleVersion] &gt;= "0.1" and certificate leaf[subject.OU] = "7K3HVCLV7Z"</string>
	</array>
</dict>
</plist>
